general {
	colors = true
	interval = 5
}

#order += "ipv6"
order += "disk /"
order += "disk /mnt/git-usb"
{% if wireless_eth is defined %}
order += "wireless {{ wireless_eth }}"
{% endif %}
order += "ethernet {{ wired_eth }}"
order += "volume master"
{% if batteries is defined %}
{% for battery in batteries %}
order += "battery {{ battery }}"
{% endfor %}
{% endif %}
order += "cpu_usage"
order += "cpu_temperature 0"
order += "cpu_temperature 1"
order += "time"
order += "tztime PST"
order += "tztime EST"
order += "tztime UTC"
order += "tztime CET"

{% if wireless_eth is defined %}
wireless {{ wireless_eth }} {
	format_up = "(%essid): %ip"
	format_down = "d"
}
{% endif %}

ethernet {{ wired_eth }} {
	# if you use %speed, i3status requires root privileges
	format_up = "%ip (%speed)"
	format_down = "d"
}

volume master {
	format = "♪: %volume"
	format_muted = "♪: (M) %volume"
	#format = "vol: %volume"
	device = "pulse"
}

{% if batteries is defined %}
{% for battery in batteries %}
battery {{ battery }} {
	format = "%status %percentage %remaining"
	low_threshold = 10
	threshold_type = "percentage"
	last_full_capacity = true
	integer_battery_capacity = true
	status_chr = "⚇ CHR"
	status_bat = "⚡ BAT"
	status_full = "☻ FULL"
}
{% endfor %}
{% endif %}

cpu_temperature 0 {
	format = "CPU: %degrees °C"
	max_threshold = 40
	path = "/sys/class/hwmon/hwmon0/temp1_input"
}

cpu_temperature 1 {
	format = "GPU: %degrees °C"
	max_threshold = 80
	path = "/sys/class/hwmon/hwmon3/temp1_input"
}

time {
	format = "%Y-%m-%d"
}

tztime PST {
	format ="%H:%M:%S %Z"
	timezone = "America/Los_Angeles"
}

tztime EST {
	format ="%H:%M:%S %Z"
	timezone = "America/New_York"
}

tztime CET {
	format ="%H:%M:%S %Z"
	timezone = Europe/Stockholm
}

tztime UTC {
	format ="%H:%M:%S %Z"
	timezone = UTC
}

cpu_usage {
	format = "%usage"
}

disk "/" {
	format = "/ : %used/%total (%percentage_used)"
}

disk "/mnt/git-usb" {
	format = "GIT-USB : %used/%total"
	format_not_mounted = "GIT-USB: N/A"
}
